*{
    list-style: none;
    padding: 0;
    margin: 0;
  }

.cardlist{
    display: flex;
    gap: 20px;
    flex-wrap: wrap; 
    
    
}
.searchBar {
  width: 400px;
  
}

.nameField{
  width: 250px;
  height: 25px;
  font-family: 'Montserrat', sans-serif;
}
.emailField{
  width: 250px;
  height: 25px;
  font-family: 'Montserrat', sans-serif;
}
.commField{
  width: 525px;
  height: 120px;
  font-family: 'Montserrat', sans-serif;
}

